<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_baque"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_baque"
        android:supportsRtl="true"
        android:theme="@style/Theme.MBAProject">
        <activity
            android:name=".application.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".application.modules.login.LoginActivity" />
        <activity android:name=".application.modules.admin.dashboard.AdminDashboardActivity" />
        <activity android:name=".application.modules.admin.finance.FinanceHomeActivity" />
        <activity android:name=".application.modules.admin.rollcall.RollCallHomeActivity" />
        <activity android:name=".application.modules.admin.finance.MemberDetailActivity" android:theme="@style/FullRedActivityTheme" />
        <activity android:name=".application.modules.admin.finance.payment.PaymentFormActivity" />
        <activity android:name=".application.modules.member.HomeActivity" android:theme="@style/FullBlueActivityTheme" />
        <activity android:name=".application.modules.member.editdata.EditPasswordActivity" />
    </application>

</manifest>